@{
    ViewData["Title"] = "Product deleted";
}
<h1>Product deleted !!! </h1>
<br />
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="DeleteView">Delete new product</a>
    </li>
</ul>