@{
    ViewData["Title"] = "Product created";
}
<h1>Product created !!! </h1>
<br />
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="Index">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-controller="Product" asp-action="CreateView">Add new product</a>
    </li>
</ul>
